* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #312320;
    color: #f5eadd;
    font-family: Exo Medium, MV Typewriter, serif;
    padding: 1.5rem;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 2.5rem;
    font-family: Exo, serif;
    margin-bottom: 1.5rem;
    color: #f5eadd;
}

.quote-of-the-day {
    background: #3c2b26;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-left: 4px solid #a47b62;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.quote-of-the-day h2 {
    margin-bottom: 0.5rem;
    font-family: Exo, serif;
    font-size: 1.5rem;
    color: #c7a17a;
}

.quote-text {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #f5eadd;
}

.author-text {
    text-align: right;
    font-style: italic;
    color: #c7a17a;
    margin-top: 0.5rem;
}
.dhivehi.author-text {
    text-align: left;
}
#search {
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    width: 100%;
    max-width: 400px;
    border: 1px solid #5a4034;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #3b2a25;
    color: #f5eadd;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card {
    background: #3c2b26;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid #5a4034;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.card .quote {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #f5eadd;
}

.card .author {
    font-size: 0.95rem;
    font-style: italic;
    color: #c7a17a;
    text-align: right;
    font-family: Exo Light, MV Typewriter, serif;
}

.dhivehi .quote{
    direction: rtl;
    text-align: right;
}
.dhivehi .author {
    text-align: left;
}

#load-more {
    display: block;
    margin: 2rem auto;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background: #a47b62;
    color: #f5eadd;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#load-more:hover {
    background-color: #916c53;
}

.card.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 150px;
    /* Or whatever fits your layout */
}

.card.centered-text .quote {
    font-size: 1.2em;
}

.card .quote.no-quotes::before,
.card .quote.no-quotes::after {
    content: none;
}